<h1 class="text-3xl font-bold mb-4"><%= @author.name %></h1>
<p><strong>Biography:</strong> <%= @author.bio %></p>

<% if @author.profile_picture.attached? %>
  <div>
    <%= image_tag @author.profile_picture %>
  </div>
<% end %>

<% if @author.books.any? %>
  <h2 class="text-2xl font-bold mt-5">Books</h2>
  <ul>
    <% @author.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This author has no books listed.</p>
<% end %>

<%= link_to 'Back to Authors', authors_path %>