<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
<%= link_to book do %>
  <%= book.title %>
<% end %>
</th>
<td class="px-6 py-4">
  <%= link_to book.authors.first.name, author_path(book.authors.first) %>
</td>
<td class="px-6 py-4">
  <%= link_to book.genres.first.name, genre_path(book.genres.first) %>
</td>
<td class="px-6 py-4">
  <%= number_to_currency book.price %>
</td>