<h1 class="text-3xl font-bold mb-4"><%= @book.title %></h1>

<p>
  <strong>Author:</strong> 
  <%= link_to @book.authors.first.name, author_path(@book.authors.first) %>
</p>

<p>
  <strong>Genre:</strong>
  <%= link_to @book.genres.first.name, genre_path(@book.genres.first) %>
</p>

<div class="flex justify-center gap-8">
  <%= render "add_to_cart", book: @book, class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-500 w-full mr-auto" %>
</div>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<% if @book.image.attached? %>
  <div>
    <%= image_tag @book.image %>
  </div>
<% end %>

<% if @book.reviews.any? %>
  <h2 class="text-2xl font-bold mt-5">Reviews</h2>
  <ul>
    <% @book.reviews.each do |review| %>
      <li><%= review.content %> - Rating: <%= review.rating %></li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews available for this book.</p>
<% end %>

<%= link_to 'Back to Books', books_path %>