<h1 class="text-3xl font-bold mb-4"><%= @book.title %></h1>
<p><strong>Author:</strong> <%= link_to @book.authors.first.name, author_path(@book.authors.first) %></p>
<p><strong>Genre:</strong> <%= link_to @book.genres.first.name, genre_path(@book.genres.first) %></p>
<p><strong>Description:</strong> <%= @book.description %></p>

<%= link_to 'Back to Books', books_path %>