

<div class="w-full flex flex-col items-center">
  <div class="flex justify-between w-full items-center">  
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl"> Your cart </h1>
      <% if @current_cart.cart_items.any? %>
        <p class="text-lg"> You have <%= @current_cart.cart_items.count %> items in your cart </p>
      <% else %>
        <p class="text-lg"> You don't have any items in your cart yet </p>
      <% end %>
    </div>

    <%= link_to "Checkout Now", checkout_cart_path(@current_cart.secret_id), class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-500" %>
  </div>

  <br/>

<% if @current_cart.cart_items.any? %>
<div id="books" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Book name
                </th>
                <th scope="col" class="px-6 py-3">
                    Author
                </th>
                <th scope="col" class="px-6 py-3">
                    Genre
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <% @current_cart.cart_items.each do |cart_item| %>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <%= render "books/book", book: cart_item.book %>
                <td class="px-6 py-4">
                  <%= cart_item.quantity%>
                </td>
                <td class="px-6 py-4">
                  <%= link_to "Increase", increase_cart_path(@current_cart.secret_id, book_id: cart_item.book.id), class: "p-2 rounded-lg bg-blue-500", data: { turbo_method: "increase" } %>
                  <%= link_to "Decrease", decrease_cart_path(@current_cart.secret_id, book_id: cart_item.book.id), class: "p-2 rounded-lg bg-blue-500", data: { turbo_method: "decrease" } %>
                  <%= link_to "Remove from cart", cart_path(@current_cart.secret_id, book_id: cart_item.book.id), class: "p-2 rounded-lg bg-blue-500", data: { turbo_method: "delete" } %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<% end %>
